.featured {
    height: 60vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10vw 50px 100px 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    .content {
        max-width: 45%;
        h1 {
            color: #fff;
            font-size: 3.5vw;
            margin-bottom: 1.75vw;
        }
        h3 {
            color: #fff;
            font-size: 1.4vw;
            font-weight: normal;
        }
        .buttons {
            margin-top: 1.75vw;
            display: flex;
        }
    }
}

@media only screen and (max-width: 949px) {
    .featured {
        padding: 10vw 30px 100px 30px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 799px) {
    .featured {
        padding: 25vw 30px 175px 30px;
        .content {
            max-width: 60%;
            h1 {
                font-size: 4.25vw;
            }
            h3 {
                font-size: 2vw;
                font-weight: normal;
            }
            .buttons {
                margin-top: 2vw;
                display: flex;
            }
        }
    }
    
}

