.main {
    background-color: #141414;
    overflow: hidden;
    height: fit-content;
    .rows-container {
        position: relative;
        padding-left: 50px;
        bottom: 105px;
    }
}

@media only screen and (max-width: 949px) {
    .main {
        .rows-container {
            padding-left: 30px;
        }
    }
}
