.icon-container-big {
    position: relative;
    .icon-circle-info-big {
        padding: .575vw 1.75vw;
        text-shadow: none;
        display: flex;
        align-items: center;
        border-radius: 3px;
        background-color: rgba(109,109,110,0.85);
        color: white;
        font-weight: 600;
        font-size: 1.25vw;
        margin-right: 10px;
        .card-icon{
            height: 1.75vw;
            width: auto;
            margin-right: 10px;
        }
    }
    .icon-circle-info-big:hover {
        background-color: rgba(109,109,110,0.7);
        cursor: pointer;
    }
}

@media only screen and (max-width: 799px) {
    .icon-container-big {
        .icon-circle-info-big {
            font-size: 2vw;
            padding: 1vw 2.25vw;
        }
    }
}