.movie-container {
  position: absolute;
  overflow: visible;
  z-index: 9;
  -webkit-transition: z-index linear 1ms 500ms, -webkit-transform ease-out 200ms;
  transition: z-index linear 1ms 500ms, -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms, z-index linear 1ms 500ms;
  transition: transform ease-out 200ms, z-index linear 1ms 500ms, -webkit-transform ease-out 200ms;
  height: 300px;
}

.movie-container .movie {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 290px;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition: all ease-out 1ms;
  transition: all ease-out 1ms;
}

.movie-container .movie #title {
  color: white;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}

.movie-container .movie .movie-card {
  height: 60%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 3px;
  -webkit-transition: height ease-out 1ms;
  transition: height ease-out 1ms;
}

.movie-container .movie .bottom-half {
  opacity: 0;
  -webkit-transition: all ease-out 100ms;
  transition: all ease-out 100ms;
  height: 40%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  background-color: #141414;
}

.movie-container .movie .bottom-half .icon-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-container .movie .bottom-half .icon-row .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movie-container .movie .bottom-half .icon-row .icons .icon-circle svg {
  height: 15px;
  width: auto;
}

.movie-container .movie .bottom-half .icon-row .icons .bubble-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  bottom: 100px;
  z-index: 20;
}

.movie-container .movie .bottom-half .icon-row .icons .bubble-container .bubble-text {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 10px;
  background-color: #D5D5D5;
  border-radius: 3px;
  color: black;
  font-weight: bold;
  font-size: 1em;
}

.movie-container .movie .bottom-half .icon-row .icons .bubble-container #triangle {
  position: relative;
  bottom: 7px;
  height: 15px;
  width: 20px;
}

.movie-container .movie .bottom-half .icon-row .bubble-container {
  -webkit-animation: fade 250ms;
          animation: fade 250ms;
  opacity: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  bottom: 100px;
  z-index: 20;
}

.movie-container .movie .bottom-half .icon-row .bubble-container .bubble-text {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 10px;
  background-color: #D5D5D5;
  border-radius: 3px;
  color: black;
  font-weight: bold;
  font-size: 1em;
}

.movie-container .movie .bottom-half .icon-row .bubble-container #triangle {
  position: relative;
  bottom: 7px;
  height: 15px;
  width: 20px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.movie-container .movie .bottom-half .icon-row .icon-circle {
  position: relative;
  height: 30px;
  width: 30px;
  margin: 0 2px;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  border: 2px solid #666666;
  z-index: 15;
}

.movie-container .movie .bottom-half .icon-row .icon-circle #card-icon {
  height: 17px;
  width: auto;
}

.movie-container .movie .bottom-half .icon-row .icon-circle:hover {
  border-color: white;
}

.movie-container .movie .bottom-half .icon-row .icon-circle-play {
  height: 30px;
  width: 30px;
  margin: 0 1px;
  padding-left: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  background-color: white;
}

.movie-container .movie .bottom-half .icon-row .icon-circle-play #card-icon {
  height: 15px;
  width: auto;
}

.movie-container .movie .bottom-half .icon-row .icon-circle-play:hover {
  background-color: #ebebeb;
}

.movie-container .movie .bottom-half .match-row {
  font-size: .80em;
  font-weight: bold;
  color: #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.movie-container .movie .bottom-half .match-row .match {
  color: #46d369;
}

.movie-container .movie .bottom-half .match-row .runtime {
  margin: 0 10px;
}

.movie-container .movie .bottom-half .match-row .hd {
  text-align: center;
  font-size: .65em;
  padding: 0 .4em;
  border-radius: 3px;
  border: solid 1px #d9d9d9;
  white-space: nowrap;
}

.movie-container .movie .bottom-half .genre-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8em;
  font-weight: normal;
}

.movie-container .movie .bottom-half .genre-list-container .dot {
  margin: 0 5px;
  color: #838383;
}

.movie-container .movie .bottom-half .genre-list-container span:last-child {
  display: none;
}

.movie-container .movie .movie-poster {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.movie-container .movie .number {
  font-size: 19.1rem;
  line-height: 14.5rem;
  color: black;
  -webkit-text-stroke: 5px #595959;
  text-shadow: none;
  position: relative;
  left: 36px;
  z-index: -1;
  max-width: 20%;
}

.movie-container .movie .ten {
  font-size: 15rem;
  line-height: 14.5rem;
  left: -5px;
  letter-spacing: -37px;
}

.movie-container .movie .movie-ten {
  width: 50%;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.movie-container:hover {
  cursor: pointer;
  -webkit-transform: scale(130%) translateY(-50px);
          transform: scale(130%) translateY(-50px);
  height: 300px;
  z-index: 10;
  -webkit-transition: all ease-out 200ms 500ms;
  transition: all ease-out 200ms 500ms;
}

.movie-container:hover .movie {
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 8px black;
          box-shadow: 0px 3px 8px black;
  -webkit-transition: all ease-out 200ms 500ms;
  transition: all ease-out 200ms 500ms;
}

.movie-container:hover .movie .movie-card {
  -webkit-transition: all ease-out 200ms 500ms;
  transition: all ease-out 200ms 500ms;
  border-radius: 0px;
}

.movie-container:hover .movie .bottom-half {
  opacity: 1;
  -webkit-transition: all ease-out 200ms 500ms;
  transition: all ease-out 200ms 500ms;
}
/*# sourceMappingURL=movieCard.css.map */