.row-container {
    padding: 0 50px;
    margin-bottom: 65px; 
    color: #FBFBFB;
    overflow: hidden;
    h1 {
        margin-bottom: 10px;
    }
    .slick-slider {
        width: 99vw;
        display: flex;
        flex-direction: row;
        .slick-list {
            width: 100vw;
            .slick-track {
                display: flex;
                flex-direction: row;
                .slick-slide {
                    max-width: 320px;
                }
            }
        }
        .arrow  {
            height: 175px;
            width: 50px;
            z-index: 5;
            position: absolute;
            right: 0%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 35px;
                width: auto;
                display: none;
            }
        }
        .arrow-poster  {
            height: 500px;
            width: 50px;
            z-index: 5;
            position: absolute;
            right: 0%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 35px;
                width: auto;
                display: none;
            }
        }
        .arrow-poster:hover {
            cursor: pointer;
            background-color: rgba(20, 20, 20, 0.5);
            img {
                display: inline-block;
            }
        }
        .right {
            right: 0%;
            
        }
        .left {
            left: 0%; 
        }
        .arrow:hover {
            cursor: pointer;
            background-color: rgba(20, 20, 20, 0.5);
            img {
                display: inline-block;
            }
        }
    }    
}
