.footer1 {
  background-color: black;
  color: #757575;
  padding: 75px 375px 20px 475px;
}

.footer1 h5 {
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: normal;
}

.footer1 a {
  text-decoration: none;
  color: #757575;
}

.footer1 a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer1 .footer-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  list-style: none;
  row-gap: 15px;
  font-size: 13px;
  margin-bottom: 30px;
}

.footer1 .lang-signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 30px;
}

.footer1 .lang-signin select {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #aaa;
  color: #fff;
  font-size: 0.875rem;
  padding: 10px;
}

.footer2 {
  background-color: rgba(0, 0, 0, 0.75);
  color: #757575;
  padding: 35px 400px 50px 500px;
}

.footer2 h5 {
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: normal;
}

.footer2 a {
  text-decoration: none;
  color: #757575;
}

.footer2 a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer2 .footer-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  list-style: none;
  row-gap: 15px;
  font-size: 13px;
  margin-bottom: 30px;
}

.footer2 .lang-signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 30px;
}

.footer2 .lang-signin select {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #aaa;
  color: #fff;
  font-size: 0.875rem;
  padding: 10px;
}

.footer3 {
  background-color: #141414;
  color: #757575;
  padding: 0 400px 50px 500px;
}

.footer3 h5 {
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: normal;
}

.footer3 a {
  text-decoration: none;
  color: #757575;
}

.footer3 a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer3 .footer-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  list-style: none;
  row-gap: 15px;
  font-size: 13px;
  margin-bottom: 30px;
}

.footer3 .lang-signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 30px;
}

.footer3 .lang-signin select {
  background-color: #141414;
  border: 1px solid #aaa;
  color: #fff;
  font-size: 0.875rem;
  padding: 10px;
}

@media only screen and (min-width: 861px) and (max-width: 1075px), only screen and (min-width: 1076px) and (max-width: 1449px), only screen and (min-width: 1450px) {
  .footer1 {
    padding: 75px 100px 20px 200px;
  }
  .footer2 {
    padding: 75px 200px 20px 300px;
  }
  .footer3 {
    padding: 75px 200px 20px 300px;
  }
}

@media only screen and (min-width: 740px) and (max-width: 860px) {
  .footer1 {
    padding: 75px 50px 20px 100px;
  }
  .footer1 .footer-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    list-style: none;
    row-gap: 15px;
    font-size: 13px;
    margin-bottom: 30px;
  }
  .footer2 {
    padding: 20px 75px 50px 40px;
  }
  .footer2 .footer-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    list-style: none;
    row-gap: 15px;
    font-size: 13px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 739px) {
  .footer1 {
    padding: 75px 50px 20px 100px;
  }
  .footer1 .footer-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    list-style: none;
    row-gap: 15px;
    font-size: 13px;
    margin-bottom: 30px;
  }
  .footer2 {
    padding: 20px 75px 50px 40px;
    background-color: black;
    border-top: #737373 1px solid;
  }
  .footer2 .footer-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    list-style: none;
    row-gap: 15px;
    font-size: 13px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 549px) {
  .footer1 {
    padding: 75px 50px 20px 100px;
  }
  .footer1 .footer-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    list-style: none;
    row-gap: 15px;
    font-size: 13px;
    margin-bottom: 30px;
  }
  .footer2 {
    padding: 20px 75px 50px 40px;
    background-color: black;
    border-top: #737373 1px solid;
  }
  .footer2 .footer-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    list-style: none;
    row-gap: 15px;
    font-size: 13px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 399px) {
  .footer1 {
    padding: 50px 50px;
  }
  .footer1 .footer-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    list-style: none;
    row-gap: 15px;
    font-size: 13px;
    margin-bottom: 30px;
  }
  .footer2 {
    padding: 20px 75px 50px 40px;
    background-color: black;
    border-top: #737373 1px solid;
  }
  .footer2 .footer-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    list-style: none;
    row-gap: 15px;
    font-size: 13px;
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=footer.css.map */