.icon-container {
    position: relative;
    .icon-circle-play-big {
        text-shadow: none;
        padding: .575vw 1.75vw;
        display: flex;
        align-items: center;
        border-radius: 3px;
        background-color: white;
        color: black;
        font-weight: 600;
        font-size: 1.25vw;
        margin-right: 10px;
        .card-icon{
            height: 1.75vw;
            width: auto;
            margin-right: 10px;
        }
    }
    .icon-circle-play-big:hover {
        background-color: darken(white,8%);
        cursor: pointer;
    }
}

@media only screen and (max-width: 799px) {
    .icon-container {
        .icon-circle-play-big {
            font-size: 2vw;
            padding: 1vw 2.25vw;
        }
    }
}