.row-container {
  margin-bottom: 2vw;
  color: #e5e5e5;
}

.row-container h1 {
  font-size: 1.4vw;
}

.row-container .row-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 100;
  margin: 0 0 .5em 0;
}

.row-container .row-header span {
  font-size: 14px;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: all ease-in-out 600ms;
  transition: all ease-in-out 600ms;
}

.row-container .row-header img {
  opacity: 0;
  -webkit-transition: all linear 250ms;
  transition: all linear 250ms;
}

.row-container .row-header:hover {
  cursor: pointer;
}

.row-container .row-header:hover span {
  opacity: 1;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.row-container .row-header:hover img {
  opacity: 1;
  -webkit-transform: translateX(115px);
          transform: translateX(115px);
}

.row-container .slick-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 11vw;
  position: relative;
}

.row-container .slick-slider .slick-list {
  width: 95%;
}

.row-container .slick-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row-container .slick-slider .slick-list .slick-track .slick-slide {
  max-width: 320px !important;
}

.row-container .slick-slider .arrow {
  height: 8.75vw;
  min-width: 30px;
  width: 2.5vw;
  z-index: 5;
  position: absolute;
  right: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-container .slick-slider .arrow img {
  height: 2.2vw;
  max-height: 35px;
  width: auto;
  display: none;
}

.row-container .slick-slider .arrow:hover {
  cursor: pointer;
  background-color: rgba(20, 20, 20, 0.5);
}

.row-container .slick-slider .arrow:hover img {
  display: inline-block;
}

.row-container .slick-slider .right {
  right: 0%;
}

.row-container .slick-slider .left {
  left: -50px;
}

.row-container .small-list .slick-list .slick-track .slick-slide {
  width: 15.4vw !important;
}

.row-container .arrow-ten {
  height: 15vw;
  width: 50px;
  z-index: 5;
  position: absolute;
  right: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-container .arrow-ten img {
  height: 35px;
  width: auto;
  display: none;
}

.row-container .arrow-ten:hover {
  cursor: pointer;
  background-color: rgba(20, 20, 20, 0.5);
}

.row-container .arrow-ten:hover img {
  display: inline-block;
}

.marginBottom {
  margin-bottom: 8vw;
}

.poster-row-container {
  margin-bottom: 5vw;
  color: #e5e5e5;
  height: 32vw;
}

.poster-row-container h1 {
  font-size: 1.4vw;
  margin-bottom: 10px;
}

.poster-row-container .row-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 100;
}

.poster-row-container .row-header span {
  font-size: 14px;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: all ease-in-out 600ms;
  transition: all ease-in-out 600ms;
}

.poster-row-container .row-header img {
  opacity: 0;
  -webkit-transition: all linear 250ms;
  transition: all linear 250ms;
}

.poster-row-container .row-header:hover {
  cursor: pointer;
}

.poster-row-container .row-header:hover span {
  opacity: 1;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.poster-row-container .row-header:hover img {
  opacity: 1;
  -webkit-transform: translateX(115px);
          transform: translateX(115px);
}

.poster-row-container .slick-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.poster-row-container .slick-slider .slick-list {
  width: 95%;
}

.poster-row-container .slick-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.poster-row-container .slick-slider .slick-list .slick-track .slick-slide {
  max-width: 320px;
}

.poster-row-container .slick-slider .right {
  right: 0%;
}

.poster-row-container .slick-slider .left {
  left: 0%;
}

.poster-row-container .arrow-poster {
  height: 28vw;
  width: 50px;
  z-index: 5;
  position: absolute;
  right: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.poster-row-container .arrow-poster img {
  height: 35px;
  width: auto;
  display: none;
}

.poster-row-container .arrow-poster:hover {
  cursor: pointer;
  background-color: rgba(20, 20, 20, 0.5);
}

.poster-row-container .arrow-poster:hover img {
  display: inline-block;
}

@media only screen and (min-width: 1100px) and (max-width: 1399px) {
  .row-container .row-header span {
    font-size: 1vw;
  }
  .row-container .row-header:hover {
    cursor: pointer;
  }
  .row-container .row-header:hover span {
    opacity: 1;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .row-container .row-header:hover img {
    opacity: 1;
    -webkit-transform: translateX(8vw);
            transform: translateX(8vw);
  }
  .row-container .slick-slider {
    height: 15vw;
  }
  .row-container .slick-slider .arrow {
    height: 10vw;
    width: 4vw;
  }
  .row-container .slick-slider .arrow img {
    height: 25%;
  }
  .row-container .arrow-ten {
    height: 18vw;
    width: 50px;
  }
  .row-container .small-list .slick-list .slick-track .slick-slide {
    width: 18.5vw !important;
  }
  .poster-row-container {
    height: 35vw;
  }
  .poster-row-container .row-header span {
    font-size: 1vw;
  }
  .poster-row-container .row-header:hover {
    cursor: pointer;
  }
  .poster-row-container .row-header:hover span {
    opacity: 1;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .poster-row-container .row-header:hover img {
    opacity: 1;
    -webkit-transform: translateX(8vw);
            transform: translateX(8vw);
  }
  .poster-row-container .slick-slider {
    height: 100%;
  }
  .poster-row-container .slick-slider .slick-list .slick-track .slick-slide {
    max-width: 320px;
  }
  .poster-row-container .slick-slider .arrow {
    height: 100%;
    width: 50px;
    z-index: 5;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .poster-row-container .slick-slider .arrow img {
    height: 75px;
    width: auto;
    display: none;
  }
  .poster-row-container .slick-slider .arrow:hover {
    cursor: pointer;
    background-color: rgba(20, 20, 20, 0.5);
  }
  .poster-row-container .slick-slider .arrow:hover img {
    display: inline-block;
  }
  .poster-row-container .slick-slider .right {
    right: 0%;
  }
  .poster-row-container .slick-slider .left {
    left: 0%;
  }
  .poster-row-container .arrow-poster {
    height: 31vw;
    width: 50px;
    z-index: 5;
    position: absolute;
    right: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .poster-row-container .arrow-poster img {
    height: 35px;
    width: auto;
    display: none;
  }
  .poster-row-container .arrow-poster:hover {
    cursor: pointer;
    background-color: rgba(20, 20, 20, 0.5);
  }
  .poster-row-container .arrow-poster:hover img {
    display: inline-block;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1099px) {
  .row-container .row-header span {
    font-size: 1.2vw;
  }
  .row-container .row-header:hover {
    cursor: pointer;
  }
  .row-container .row-header:hover span {
    opacity: 1;
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  .row-container .row-header:hover img {
    opacity: 1;
    -webkit-transform: translateX(9.2vw);
            transform: translateX(9.2vw);
  }
  .row-container .slick-slider {
    height: 18vw;
  }
  .row-container .slick-slider .arrow {
    height: 12vw;
    width: 4vw;
  }
  .row-container .slick-slider .arrow img {
    height: 25%;
  }
  .row-container .arrow-ten {
    height: 22vw;
    width: 4vw;
  }
  .row-container .small-list .slick-list .slick-track .slick-slide {
    width: 22.5vw !important;
  }
  .poster-row-container {
    height: 36vw;
  }
  .poster-row-container .row-header span {
    font-size: 1.2vw;
  }
  .poster-row-container .row-header:hover {
    cursor: pointer;
  }
  .poster-row-container .row-header:hover span {
    opacity: 1;
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  .poster-row-container .row-header:hover img {
    opacity: 1;
    -webkit-transform: translateX(9.2vw);
            transform: translateX(9.2vw);
  }
  .poster-row-container .slick-slider {
    height: 100%;
  }
  .poster-row-container .slick-slider .slick-list .slick-track .slick-slide {
    max-width: 320px;
  }
  .poster-row-container .slick-slider .right {
    right: 0%;
  }
  .poster-row-container .slick-slider .left {
    left: 0%;
  }
  .poster-row-container .arrow-poster {
    height: 32vw;
    width: 40px;
  }
  .poster-row-container .arrow-poster img {
    height: 35px;
    width: auto;
    display: none;
  }
}

@media only screen and (max-width: 949px) {
  .row-container .slick-slider .left {
    left: -30px !important;
  }
  .marginBottom {
    margin-bottom: 12vw;
  }
}

@media only screen and (min-width: 500px) and (max-width: 799px) {
  .row-container h1 {
    font-size: 12px;
  }
  .row-container .row-header span {
    font-size: 1.3vw;
  }
  .row-container .row-header:hover {
    cursor: pointer;
  }
  .row-container .row-header:hover span {
    opacity: 1;
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  .row-container .row-header:hover img {
    opacity: 1;
    -webkit-transform: translateX(11vw);
            transform: translateX(11vw);
  }
  .row-container .slick-slider {
    height: 21vw;
  }
  .row-container .slick-slider .arrow {
    height: 15vw;
    max-width: 25px;
    width: 4vw;
  }
  .row-container .slick-slider .arrow img {
    height: 25%;
  }
  .row-container .arrow-ten {
    height: 28vw;
    width: 4vw;
  }
  .row-container .small-list .slick-list .slick-track .slick-slide {
    width: 40.5vw !important;
  }
  .poster-row-container {
    height: 55vw;
  }
  .poster-row-container h1 {
    font-size: 12px;
  }
  .poster-row-container .row-header span {
    font-size: 1.3vw;
  }
  .poster-row-container .row-header:hover {
    cursor: pointer;
  }
  .poster-row-container .row-header:hover span {
    opacity: 1;
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  .poster-row-container .row-header:hover img {
    opacity: 1;
    -webkit-transform: translateX(11vw);
            transform: translateX(11vw);
  }
  .poster-row-container .slick-slider {
    height: 100%;
  }
  .poster-row-container .slick-slider .slick-list .slick-track .slick-slide {
    max-width: 320px;
  }
  .poster-row-container .slick-slider .right {
    right: 0%;
  }
  .poster-row-container .slick-slider .left {
    left: 0%;
  }
  .poster-row-container .arrow-poster {
    height: 50vw;
    width: 30px;
  }
  .poster-row-container .arrow-poster img {
    height: 35px;
    width: auto;
    display: none;
  }
}

@media only screen and (max-width: 499px) {
  .row-container h1 {
    font-size: 12px;
  }
  .row-container .row-header span {
    font-size: 2vw;
  }
  .row-container .row-header:hover {
    cursor: pointer;
  }
  .row-container .row-header:hover span {
    opacity: 1;
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  .row-container .row-header:hover img {
    opacity: 1;
    -webkit-transform: translateX(15vw);
            transform: translateX(15vw);
  }
  .row-container .slick-slider {
    height: 33vw;
  }
  .row-container .slick-slider .arrow {
    height: 22vw;
    width: 5vw;
  }
  .row-container .slick-slider .arrow img {
    height: 25%;
  }
  .row-container .arrow-ten {
    height: 40vw;
    width: 5vw;
  }
  .row-container .small-list .slick-list .slick-track .slick-slide {
    width: 46.5vw !important;
  }
  .poster-row-container {
    height: 81vw;
  }
  .poster-row-container h1 {
    font-size: 12px;
  }
  .poster-row-container .row-header span {
    font-size: 2vw;
  }
  .poster-row-container .row-header:hover {
    cursor: pointer;
  }
  .poster-row-container .row-header:hover span {
    opacity: 1;
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  .poster-row-container .row-header:hover img {
    opacity: 1;
    -webkit-transform: translateX(15vw);
            transform: translateX(15vw);
  }
  .poster-row-container .slick-slider {
    height: 100%;
  }
  .poster-row-container .slick-slider .slick-list .slick-track .slick-slide {
    max-width: 320px;
  }
  .poster-row-container .slick-slider .right {
    right: 0%;
  }
  .poster-row-container .slick-slider .left {
    left: 0%;
  }
  .poster-row-container .arrow-poster {
    height: 80vw;
    width: 40px;
  }
  .poster-row-container .arrow-poster img {
    height: 35px;
    width: auto;
    display: none;
  }
}
/*# sourceMappingURL=row.css.map */