.row-container {
    margin-bottom: 2vw; 
    color: #e5e5e5;
    h1 {
        font-size: 1.4vw;
    }
    .row-header {
        display: flex;
        align-items: center;
        width: 100%;
        z-index: 100;
        margin: 0 0 .5em 0;
        span {
            font-size: 14px;
            font-weight: bold;
            opacity: 0;
            transition: all ease-in-out 600ms;
        }
        img {
            opacity: 0;
            transition: all linear 250ms;
        }
    }
    .row-header:hover {
        cursor: pointer;
        span {
            opacity: 1;
            transform: translateX(15px);
        }
        img {
            opacity: 1;
            transform: translateX(115px);
        }
    }
    .slick-slider {
        display: flex;
        flex-direction: row;
        height: 11vw;
        position: relative;
        .slick-list {
            width: 95%;
            .slick-track {
                display: flex;
                flex-direction: row;
                .slick-slide {
                    max-width: 320px !important;
                }
            }
        }
        .arrow  {
            height: 8.75vw;
            min-width: 30px;
            width: 2.5vw;
            z-index: 5;
            position: absolute;
            right: 0%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 2.2vw;
                max-height: 35px;
                width: auto;
                display: none;
            }
        }
        .arrow:hover {
            cursor: pointer;
            background-color: rgba(20, 20, 20, 0.5);
            img {
                display: inline-block;
            }
        }
        .right {
            right: 0%;
            
        }
        .left {
            left: -50px; 
        }
    }
    .small-list {
        .slick-list {
            .slick-track {
                .slick-slide {
                    width: 15.4vw !important;
                }
            }
        }
    }
    .arrow-ten  {
        height: 15vw;
        width: 50px;
        z-index: 5;
        position: absolute;
        right: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 35px;
            width: auto;
            display: none;
        }
    }
    .arrow-ten:hover {
        cursor: pointer;
        background-color: rgba(20, 20, 20, 0.5);
        img {
            display: inline-block;
        }
    }
}

.marginBottom {
    margin-bottom: 8vw;
}

.poster-row-container {
    margin-bottom: 5vw;
    color: #e5e5e5;
    height: 32vw;
    h1 {
        font-size: 1.4vw;
        margin-bottom: 10px;
    }
    .row-header {
        display: flex;
        align-items: center;
        width: 100%;
        z-index: 100;
        span {
            font-size: 14px;
            font-weight: bold;
            opacity: 0;
            transition: all ease-in-out 600ms;
        }
        img {
            opacity: 0;
            transition: all linear 250ms;
        }
    }
    .row-header:hover {
        cursor: pointer;
        span {
            opacity: 1;
            transform: translateX(15px);
        }
        img {
            opacity: 1;
            transform: translateX(115px);
        }
    }
    .slick-slider {
        display: flex;
        flex-direction: row;
        height: 100%;
        .slick-list {
            width: 95%;
            .slick-track {
                display: flex;
                flex-direction: row;
                justify-content: center;
                .slick-slide {
                    max-width: 320px;
                }
            }
        }
        .right {
            right: 0%;
        }
        .left {
            left: 0%; 
        }
    }    
    .arrow-poster  {
        height: 28vw;
        width: 50px;
        z-index: 5;
        position: absolute;
        right: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 35px;
            width: auto;
            display: none;
        }
    }
    .arrow-poster:hover {
        cursor: pointer;
        background-color: rgba(20, 20, 20, 0.5);
        img {
            display: inline-block;
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1399px) {
    .row-container {
        .row-header {
            span {
                font-size: 1vw;
            }
        }
        .row-header:hover {
            cursor: pointer;
            span {
                opacity: 1;
                transform: translateX(10px);
            }
            img {
                opacity: 1;
                transform: translateX(8vw);
            }
        }
        .slick-slider {
            height: 15vw;
            .arrow  {
                height: 10vw;
                width: 4vw;
                img {
                    height: 25%;
                }
            }
        }
        .arrow-ten  {
            height: 18vw;
            width: 50px;
        }
        .small-list {
            .slick-list {
                .slick-track {
                    .slick-slide {
                        width: 18.5vw !important;
                    }
                }
            }
        }
    }
    .poster-row-container {
        height: 35vw;
        .row-header {
            span {
                font-size: 1vw;
            }
        }
        .row-header:hover {
            cursor: pointer;
            span {
                opacity: 1;
                transform: translateX(10px);
            }
            img {
                opacity: 1;
                transform: translateX(8vw);
            }
        }
        .slick-slider {
            height: 100%;
            .slick-list {
                .slick-track {
                    .slick-slide {
                        max-width: 320px;
                    }
                }
            }
            .arrow  {
                height: 100%;
                width: 50px;
                z-index: 5;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: 75px;
                    width: auto;
                    display: none;
                }
            }
            .arrow:hover {
                cursor: pointer;
                background-color: rgba(20, 20, 20, 0.5);
                img {
                    display: inline-block;
                }
            }
            .right {
                right: 0%;
                
            }
            .left {
                left: 0%; 
            }
        }    
        .arrow-poster  {
            height: 31vw;
            width: 50px;
            z-index: 5;
            position: absolute;
            right: 0%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 35px;
                width: auto;
                display: none;
            }
        }
        .arrow-poster:hover {
            cursor: pointer;
            background-color: rgba(20, 20, 20, 0.5);
            img {
                display: inline-block;
            }
        }
    }
}

@media only screen and (min-width: 800px) and (max-width: 1099px) {
    .row-container {
        .row-header {
            span {
                font-size: 1.2vw;
            }
        }
        .row-header:hover {
            cursor: pointer;
            span {
                opacity: 1;
                transform: translateX(8px);
            }
            img {
                opacity: 1;
                transform: translateX(9.2vw);
            }
        }
        .slick-slider {
            height: 18vw;
            .arrow  {
                height: 12vw;
                width: 4vw;
                img {
                    height: 25%;
                }
            }
        }
        .arrow-ten  {
            height: 22vw;
            width: 4vw;
        }
        .small-list {
            .slick-list {
                .slick-track {
                    .slick-slide {
                        width: 22.5vw !important;
                    }
                }
            }
        }
    }
    .poster-row-container {
        height: 36vw;
        .row-header {
            span {
                font-size: 1.2vw;
            }
        }
        .row-header:hover {
            cursor: pointer;
            span {
                opacity: 1;
                transform: translateX(8px);
            }
            img {
                opacity: 1;
                transform: translateX(9.2vw);
            }
        }
        .slick-slider {
            height: 100%;
            .slick-list {
                .slick-track {
                    .slick-slide {
                        max-width: 320px;
                    }
                }
            }
            .right {
                right: 0%;
                
            }
            .left {
                left: 0%; 
            }
        }    
        .arrow-poster  {
            height: 32vw;
            width: 40px;
            img {
                height: 35px;
                width: auto;
                display: none;
            }
        }

    }
}

@media only screen and (max-width: 949px) {
    .row-container {
        .slick-slider {
            .left {
                left: -30px !important;
            }
        }
    }
    .marginBottom {
        margin-bottom: 12vw;
    }
}

@media only screen and (min-width: 500px) and (max-width: 799px) {
    .row-container {
        h1 {
            font-size: 12px;
        }
        .row-header {
            span {
                font-size: 1.3vw;
            }
        }
        .row-header:hover {
            cursor: pointer;
            span {
                opacity: 1;
                transform: translateX(6px);
            }
            img {
                opacity: 1;
                transform: translateX(11vw);
            }
        }
        .slick-slider {
            height: 21vw;
            .arrow  {
                height: 15vw;
                max-width: 25px;
                width: 4vw;
                img {
                    height: 25%;
                }
            }
        }
        .arrow-ten  {
            height: 28vw;
            width: 4vw;
        }
        .small-list {
            .slick-list {
                .slick-track {
                    .slick-slide {
                        width: 40.5vw !important;
                    }
                }
            }
        }
    }
    .poster-row-container {
        height: 55vw;
        h1 {
            font-size: 12px;
        }
        .row-header {
            span {
                font-size: 1.3vw;
            }
        }
        .row-header:hover {
            cursor: pointer;
            span {
                opacity: 1;
                transform: translateX(6px);
            }
            img {
                opacity: 1;
                transform: translateX(11vw);
            }
        }
        .slick-slider {
            height: 100%;
            .slick-list {
                .slick-track {
                    .slick-slide {
                        max-width: 320px;
                    }
                }
            }
            .right {
                right: 0%;
                
            }
            .left {
                left: 0%; 
            }
        }    
        .arrow-poster  {
            height: 50vw;
            width: 30px;
            img {
                height: 35px;
                width: auto;
                display: none;
            }
        }

    }
}

@media only screen and (max-width: 499px) {
    .row-container {
        h1 {
            font-size: 12px;
        }
        .row-header {
            span {
                font-size: 2vw;
            }
        }
        .row-header:hover {
            cursor: pointer;
            span {
                opacity: 1;
                transform: translateX(6px);
            }
            img {
                opacity: 1;
                transform: translateX(15vw);
            }
        }
        .slick-slider {
            height: 33vw;
            .arrow  {
                height: 22vw;
                width: 5vw;
                img {
                    height: 25%;
                }
            }
        }
        .arrow-ten  {
            height: 40vw;
            width: 5vw;
        }
        .small-list {
            .slick-list {
                .slick-track {
                    .slick-slide {
                        width: 46.5vw !important;
                    }
                }
            }
        }
    }
    .poster-row-container {
        height: 81vw;
        h1 {
            font-size: 12px;
        }
        .row-header {
            span {
                font-size: 2vw;
            }
        }
        .row-header:hover {
            cursor: pointer;
            span {
                opacity: 1;
                transform: translateX(6px);
            }
            img {
                opacity: 1;
                transform: translateX(15vw);
            }
        }
        .slick-slider {
            height: 100%;
            .slick-list {
                .slick-track {
                    .slick-slide {
                        max-width: 320px;
                    }
                }
            }
            .right {
                right: 0%;
                
            }
            .left {
                left: 0%; 
            }
        }    
        .arrow-poster  {
            height: 80vw;
            width: 40px;
            img {
                height: 35px;
                width: auto;
                display: none;
            }
        }

    }
    .marginBottom {
        margin-bottom: 15vw;
    }
}