.similarMovie {
    width: 100%;
    background-color: #2f2f2f;
    color: #fff;
    border-radius: 5px;
    .banner {
        height: 140px;
        display: flex;
        align-items: flex-end;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;
        h5 {
            font-size: 1em;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.85);
        }
    }
    .info {
        padding: 20px 15px 30px 15px;
        .info-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .match-year {
                font-weight: 600;
                .match {
                    color: #46d369;
                    margin-bottom: 5px;
                }
            }
          .icon-container {
            position: relative;
            display: flex;
            justify-content: center;
            .icon-circle {
                position: relative;
                height: 35px;
                width: 35px;
                margin: 0 2px;
                padding: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                border: 2px solid lighten(#595959,5%);
                z-index: 15;
                .card-icon{
                    height: 12px;
                    width: auto;
                }
            }
            .icon-circle:hover {
                border-color: white;
            }
            .bubble-container {
                animation: fade 250ms;
                opacity: 1;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 35px;
                bottom: 60px;
                z-index: 5000;
                .bubble-text {
                    width: max-content;
                    padding: 5px 10px;
                    background-color: #D5D5D5;
                    border-radius: 3px;
                    color: black;
                    font-weight: bold;
                    font-size: 1em;
                }
                #triangle {
                    position: relative;
                    bottom: 7px;
                    height: 15px;
                    width: 20px
                }
            }
            @keyframes fade {
                from {opacity: 0}
                to {opacity: 1}
            }
          }
        }
        .info-bottom {
            font-size: .90em;
            font-weight: 500;
            color:#d2d2d2;
            line-height: 17px;
        }
    }
}

.similarMovie:hover {
    cursor: pointer;
}

@media only screen and (max-width: 699px) {
    .similarMovie {
        .banner {
            height: 100px;
            h5 {
                font-size: .85em;
            }
        }
        .info {
            padding: 15px;
            .info-top {
                .match-year {
                    .match {
                        color: #46d369;
                        margin-bottom: 5px;
                    }
                }
              .icon-container {
                .icon-circle {
                    position: relative;
                    height: 35px;
                    width: 35px;
                    .card-icon{
                        height: 12px;
                    }
                }
              }
            }
            .info-bottom {
                font-size: .75em;
            }
        }
    }
}