.form-container2 {
    max-width: 460px;
    background-color: rgba(0, 0, 0, 0.75);
    margin: 50px auto 150px auto;
    padding: 60px 75px 30px 75px;
    border-radius: 4px;
    .signUp-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 310px;
        h1 {
            color: white;
            margin-bottom: 20px;
        }
        .error {
            font-size: .85rem;
            background-color: #f8d7da;
            border-color: #f5c2c7;
            padding: 1rem;
            border-radius: .25rem;
            p {
                color: #842029;
                margin-top: 0;
            }
        }
        .warning {
            font-size: .85rem;
            background-color: #fff3cd;
            border-color: #ffeeba;
            padding: 1rem;
            border-radius: .25rem;
            p {
                color: #856404;
                margin-top: 0;
            }
        }
        input {
            background-color: #333;
            padding: 20px 10px;
            outline: none;
            border: none;
            border-radius: 4px;
            margin: 7px 0;
            color: white;
        }
        input::-webkit-input-placeholder {
            font-size: 1em;
        }
        input:-moz-placeholder {
            font-size: 1em;
        }

        input::-moz-placeholder {
            font-size: 1em;
        }
        button {
            margin: 30px 0 7px 0;
            padding: 15px 0;
            background-color: #e50914;
            border: none;
            color: white;
            font-size: 16px;
            font-weight: bold;
        }
        button:hover {
            cursor: pointer;
        }
        p {
            margin-top: 15px;
            color: #737373;
            span {
                color: white;
            }
            span:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

@media only screen and (min-width: 50px) and (max-width: 739px){
    .form-container2 {
        max-width: 100%;
        margin: 0;
        padding: 15px;
        .signUp-form {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}
