.exploreAll {
    background-color: #141414;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    color: white;
    .content {
        animation: fade 500ms;
        position: relative;
        top: 50px;
        margin-bottom: 100px;
        padding: 50px 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .genre {
            font-weight: lighter;
            margin-bottom: 75px;
        }
        .movies-grid {
            display: grid;
            height: 100%;
            grid-template-columns: repeat(6, 1fr);
        }
    }    
} 

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}