.container {
    width: 110%;
    h5 {
        font-size: 1.2rem;
        font-weight: normal;
        margin-bottom: 20px;
        text-align: center;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .formContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .get-started {
            width: 100%;
            display: grid;
            grid-template-columns: 2fr 1fr;
            min-height: 100px;
            max-width: 720px;
            input {
                height: 100%;
                padding-left: 10px;
                font-size: 16px;
            }
            button {
                height: 100%;
                font-size: 1.875rem;
                background-color: #e50914;
                padding: 10px 17px;
                color: #ffffff;
                text-decoration: none;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 132px;
                img {
                    margin-left: 10px;
                    width: auto;
                    height: 20px;
                }
            }
            button:hover {
                cursor: pointer;
                background-color: lighten(#e50914, 2%);
            }
        }
        .error {
            width: 100%;
            text-align: left;
            margin-top: 6px;
            padding-left: 5px;
            color: #ffa00a;
            font-size: 15px;
        }
    }
}

@media only screen and (min-width: 1076px) and (max-width: 1449px) {
    .container {
        .formContainer {
            .get-started {
                input {
                    height: 60px;
                }
                button {
                    height: 60px;
                    font-size: 1.625rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 861px) and (max-width: 1075px) {
    .container{
        h5 {
            text-align: center;
            padding: 0 10%;
            font-size: 1.5rem;
        }
        .formContainer{
            .get-started {
                display: flex;
                flex-direction: column;
                align-items: center;
                input {
                    height: 60px;
                    width: 90%!important;
                }
                button {
                    margin-top: 15px;
                    width: 26%;
                    border-radius: 3px;
                    font-size: 1rem;
                    padding: 10px 10px;
                }
            }
        }
    }
}


@media only screen and (min-width: 740px) and (max-width: 860px) {
    .container{
        h5 {
            width: 90%;
        }
        .formContainer{
            .get-started {
                display: flex;
                flex-direction: column;
                align-items: center;
                input {
                    height: 60px;
                    width: 90%!important;
                }
                button {
                    margin-top: 15px;
                    width: 28%;
                    border-radius: 3px;
                    font-size: 1rem;
                    padding: 10px 10px;
                }
            }
        }
    }
}


@media only screen and (min-width: 400px) and (max-width: 739px) {
    .container{
        h5 {
            font-size: 18px;
        }
        width: 110%;
        .formContainer{
            .get-started {
                display: flex;
                flex-direction: column;
                align-items: center;
                input {
                    height: 48px;
                    width: 100%!important;
                    font-size: 14px;
                }
                button {
                    margin-top: 15px;
                    width: 28%;
                    border-radius: 3px;
                    font-size: 1rem;
                    padding: 10px 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 30px) and (max-width: 399px){
    .container{
        h5 {
            font-size: 1.125rem;
        }
        width: 100%;
        .formContainer{
            .get-started {
                display: flex;
                flex-direction: column;
                align-items: center;
                input {
                    height: 48px;
                    width: 100%!important;
                    font-size: 14px;
                }
                button {
                    margin-top: 15px;
                    width: 28%;
                    border-radius: 3px;
                    font-size: 1rem;
                    padding: 10px 10px;
                }
            }
        }
    }
}