.hero {
    background-size: cover;
    background-image: url('../../images/hero.jpg');
    height: 775px;
    color: #ffffff;
    overflow: hidden;
    .hero-overlay {
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.9) 0,
            rgba(0, 0, 0, 0.2) 60%,
            rgba(0, 0, 0, 1) 100%
        );
        height: 100%;
        .top-bar {
            width: 100%;
            padding: 30px 55px;
            display: flex;
            justify-content: space-between;
            align-content: center;
            #logo {
                height: auto;
                width: 140px;
            }
            .lang-signin {
                display: flex;
                justify-content: space-between;
                align-content: center;
                gap: 30px;
                select {
                    background: rgba(0, 0, 0, 0.4);
                    border: 1px solid #aaa;
                    color: #fff;
                    font-size: 1rem;
                    max-height: 39px;
                    padding: 10px;
                }
                .button {
                    background-color: #e50914;
                    padding: 10px 17px;
                    border-radius: 3px;
                    font-size: 1rem;
                    border: none;
                    color: #ffffff;
                    text-decoration: none;
                    line-height: 11px;
                }
                .button:hover {
                    cursor: pointer;
                }
                .sign-in {
                    max-height: 32px;
                }
            }
        }
        .main-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 50px 200px;
            margin: 100px 100px;
            text-align: center;
            h1 {
                font-size: 4rem;
                max-width: 700px;
            }
            h3 {
                font-size: 1.625rem;
                margin: 20px;
                font-weight: normal;
            }
            .signup {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h5 {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1076px) and (max-width: 1449px){
    .hero {
        .hero-overlay {
            .main-content {
                h1  {
                    font-size: 3.125rem;
                }
                h3 {
                    font-size: 1.625rem;
                }
                h5 {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 861px) and (max-width: 1075px) {
    .hero {
        .hero-overlay {
            .main-content {
                padding: 50px 100px;
                h1  {
                    font-size: 3.125rem;
                    width: 600px;
                }
                h3 {
                    font-size: 1.625rem;
                    width: 100%;
                    margin: 20px 0;
                }
                .signup {
                    h5 {
                        font-size: 1.45rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 740px) and (max-width: 860px) {
    .hero {
        .hero-overlay {
            .main-content {
                padding: 50px;
                h1  {
                    font-size: 3.125rem;
                    width: 600px;
                }
                h3 {
                    font-size: 1.625rem;
                    width: 100%;
                    margin: 20px 0;
                }
            }
        }
    }
}


@media only screen and (min-width: 550px) and (max-width: 739px) {
    .hero {
        .hero-overlay {
            .main-content {
                padding: 50px 0;
                margin: 60px;
                h1  {
                    font-size: 3.125rem;
                    // width: 600px;
                }
                h3 {
                    font-size: 1.625rem;
                    width: 100%;
                    margin: 20px 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 400px) and (max-width: 549px){
    .hero {
        height: fit-content;
        .hero-overlay {
            height: 515px;
            .top-bar {
                width: 100%;
                padding: 30px 20px;
                display: flex;
                justify-content: space-between;
                align-content: center;
                #logo {
                    height: auto;
                    width: 85px;
                }
                .lang-signin {
                    display: flex;
                    justify-content: space-between;
                    align-content: center;
                    gap: 30px;
                    select {
                        background: rgba(0, 0, 0, 0.4);
                        border: 1px solid #aaa;
                        color: #fff;
                        font-size: 1rem;
                        max-height: 39px;
                        padding: 10px;
                    }
                    .button {
                        background-color: #e50914;
                        padding: 10px 17px;
                        border-radius: 3px;
                        font-size: 1rem;
                        border: none;
                        color: #ffffff;
                        text-decoration: none;
                        line-height: 11px;
                    }
                    .button:hover {
                        cursor: pointer;
                    }
                    .sign-in {
                        max-height: 32px;
                    }
                }
            }
            .main-content {
                margin: 45px;
                padding: 0;
                h1  {
                    font-size: 1.8rem;
                }
                h3 {
                    font-size: 1.325rem;
                    width: 100%;
                    margin: 20px 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 30px) and (max-width: 399px){
    .hero {
        height: fit-content;
        .hero-overlay {
            height: 515px;
            .top-bar {
                width: 100%;
                padding: 30px 20px;
                display: flex;
                justify-content: space-between;
                align-content: center;
                #logo {
                    height: auto;
                    width: 85px;
                }
                .lang-signin {
                    display: flex;
                    justify-content: space-between;
                    align-content: center;
                    gap: 30px;
                    select {
                        background: rgba(0, 0, 0, 0.4);
                        border: 1px solid #aaa;
                        color: #fff;
                        font-size: 1rem;
                        max-height: 39px;
                        padding: 10px;
                    }
                    .button {
                        background-color: #e50914;
                        padding: 10px 17px;
                        border-radius: 3px;
                        font-size: 1rem;
                        border: none;
                        color: #ffffff;
                        text-decoration: none;
                        line-height: 11px;
                    }
                    .button:hover {
                        cursor: pointer;
                    }
                    .sign-in {
                        max-height: 32px;
                    }
                }
            }
            .main-content {
                margin: 35px 10px;
                padding: 0;
                h1  {
                    font-size: 1.75rem;
                }
                h3 {
                    font-size: 1.125rem;
                    width: 100%;
                    margin: 20px 0;
                }
            }
        }
    }
}




