.row {
  background-color: black;
  color: #ffffff;
  border-top: 8px solid #222;
  padding: 70px 45px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 475px;
  z-index: 0;
  overflow: hidden;
}

.row .container {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row .container img {
  max-width: 500px;
}

.row .container .overlayContainer {
  background-image: url(../../images/mobile-0819.jpg);
  background-size: cover;
  width: 500px;
  height: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row .container .overlayContainer .landingOverlay {
  position: relative;
  bottom: 25px;
  left: 100px;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  padding: 10px;
}

.row .container .overlayContainer .landingOverlay img {
  max-width: 57px;
}

.row .container .overlayContainer .landingOverlay .overlayText {
  margin-right: 30px;
}

.row .container .overlayContainer .landingOverlay .overlayText .white {
  font-size: 16px;
  font-weight: bold;
}

.row .container .overlayContainer .landingOverlay .overlayText .blue {
  color: #0071eb;
  font-size: 14px;
}

.row .container .video1 {
  height: 450px;
  width: 575px;
  background-image: url(../../images/tv.png);
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.row .container .video1 .vidOverlay {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0.25)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.25) 90%);
  width: 100%;
  height: 100%;
}

.row .container .video1 .vidOverlay video {
  height: auto;
  width: 73%;
  position: relative;
  top: 90px;
  left: 76px;
  z-index: -1;
}

.row .container .video2 {
  height: 350px;
  width: 475px;
  background-image: url(../../images/device-pile.png);
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row .container .video2 video {
  height: auto;
  width: 300px;
  position: relative;
  bottom: 60px;
  right: 6px;
  z-index: -1;
}

.row .container .text h1 {
  font-size: 3.125rem;
  line-height: 1.1;
  width: 590px;
}

.row .container .text h3 {
  width: 550px;
  font-size: 1.62rem;
  font-weight: normal;
  margin-top: 15px;
}

@media only screen and (min-width: 861px) and (max-width: 1075px) {
  .row {
    height: 650px;
  }
  .row .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row .container .text {
    z-index: 2;
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row .container .text h1 {
    font-size: 2.5rem;
    width: 100%;
  }
  .row .container .text h3 {
    font-size: 1.25rem;
    width: 85%;
  }
  .row .container .video1 {
    position: relative;
    bottom: 30px;
    z-index: 1;
  }
  .row .container .video1 .vidOverlay {
    position: relative;
    top: 100px;
  }
  .row .container .video1 .vidOverlay video {
    height: auto;
    width: 73%;
    position: relative;
    top: -10px;
    left: 76px;
    z-index: -1;
  }
  .row .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 320px) and (max-width: 549px) {
  .row {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 50px;
  }
  .row .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row .container .media .video1 {
    margin: 0;
    position: relative;
    bottom: 30px;
    z-index: 1;
    height: 300px;
    width: 400px;
  }
  .row .container .media .video1 .vidOverlay {
    position: relative;
  }
  .row .container .media .video1 .vidOverlay video {
    height: auto;
    width: 73%;
    position: relative;
    top: 63px;
    left: 53px;
    z-index: -1;
  }
  .row .container .media .video2 {
    margin: 0;
    z-index: 2;
    height: 300px;
    width: 400px;
  }
  .row .container .media .video2 video {
    height: auto;
    width: 250px;
    position: relative;
    top: -50px;
    z-index: -2;
  }
  .row .container .media .overlayContainer {
    width: 300px;
    height: 275px;
    position: relative;
    right: 35px;
  }
  .row .container .media .overlayContainer .landingOverlay {
    position: relative;
    bottom: 25px;
    left: 40px;
    height: 70px;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: black;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    padding: 10px;
  }
  .row .container .media .overlayContainer .landingOverlay img {
    max-width: 35px;
  }
  .row .container .media .overlayContainer .landingOverlay .overlayText {
    position: relative;
    right: 15px;
  }
  .row .container .media .overlayContainer .landingOverlay .overlayText .white {
    font-size: .8em;
    font-weight: bold;
  }
  .row .container .media .overlayContainer .landingOverlay .overlayText .blue {
    color: #0071eb;
    font-size: .7em;
  }
  .row .container .media .kids {
    width: 450px;
    height: auto;
  }
  .row .container .text {
    z-index: 2;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row .container .text h1 {
    font-size: 1.625rem;
    width: 100%;
  }
  .row .container .text h3 {
    font-size: 1.125rem;
    width: 100%;
  }
  .row .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/*# sourceMappingURL=row.css.map */